<ul>
  <% @technologies.each do |technology| %>
    <li>
      <%= link_to technology.name.capitalize, "javascript:void(0);", onclick: "show_topics(this);" %>
      <ul id="link" style="display: none;">
        <% technology.topics.each do |topic| %>
          <li><%= link_to topic.name.capitalize, exam_path(:id=>topic.id), :id=>"topic_#{topic.id}", :class=>"fancybox" %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<% unless current_user.blank? %>
<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });

</script>
<% end %>