<div style="margin-left:30px;margin-right: 30px;">
  <% unless @exam.blank? %>
    <% unless @exam.answers.blank? %>
      <h1><%= @topic.name.capitalize %></h1>
      <%@exam.answers.each_with_index do |answer,i|%>
        <p id="question_title_field" class="">
          <label for="question_title"><strong>Question <%= i+1 %>.</strong>&nbsp;&nbsp;<%= answer.question_title %></label>
         <% if answer.question_type == "single" %>

          <% end  %>

        </p>
      <% end %>



    <% else  %>
      <div class="alert alert-success">
        <a data-dismiss="alert" class="close">×</a>
        <div id="flash_notice">We don't have questions on any <strong><%= @topic.name.capitalize %></strong> right now. Please try another topic.</div>
      </div>
    <% end %>
  <% end %>
</div>
